<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav th:insert="components/navbar :: navbar" class="navbar navbar-expand-lg bg-body-tertiary"></nav>
<div class="container my-3">
    <h2 class="text-center">Авторизация на сайте</h2>
    <div class="col-sm-6 mx-auto">
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label>E-mail</label>
                <input name="username" type="email" placeholder="E-mail" class="form-control">
            </div>
            <div class="mb-3">
                <label>Пароль</label>
                <input name="password" type="password" placeholder="Пароль" class="form-control">
                <p th:if="${error}" th:text="'Неправильный логин или пароль'" class="text-danger"></p>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary form-control" value="Авторизоваться">
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>